@charset "utf-8"

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    
    background:  url(../imagens/fundo-madeira.jpg ) no-repeat ;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 311px;
    height: 627px;
    transform: translate(-50%, -50%);
    background:  url("../imagens/frame-iphone.png") no-repeat top left;
}

section#redes_sociais img{
    position: relative;
    top: 90%;
    left: 90%;
    width: 50px;
    border-radius: 50%;
    display: flex;
    padding: 10px;

    
}

section#redes_sociais > a > img {
    border-radius: 1px solid #f7f6f6;
}



